*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


/*-------- navbar section -------*/

.nav-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#1a1a1d;
    padding:1em;
}

.nav-container{
    list-style: none;
    display:flex;
    gap:1.5rem;
}

.nav-item{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.nav-item img{
    margin-bottom:.7rem;
    width:60px;
}

.nav-item a{
    display:block;
    text-align:center;
    color:white;
    text-decoration:none;
    font-size:.6rem;
}

.menu-bar{
    display:none;
}
/* -------- end of navbar section ------ */

/* -------- package section ------ */
.pack{
    background-color: #334d5c;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:9rem;
    padding:5em 2em;
}

.description h1{
    font-size:3.5rem;
    margin-bottom:1rem;
}

.description p{
    font-size:1.8rem;
}
/* -------- end of package section ------ */

/*------------- eclosion section ------------ */
.eclosion{
    display: flex;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;

}
.eclosion h2{
    background-color: #334d5c;
    padding: 0.2em 1.3em;
    font-size: 3rem;
    text-align: center;
    color: white;
}
.eclosion-feature{
    display: flex;
    margin-top: 50px;
    width: 80vw;
    max-width: 900px;
    gap: 12em;
}
/*------------- end of eclosion section ------------*/

/*----------- creamy section ----------- */

.creamy{
    background-color:#eae3d6;
    padding:2em 0;
    display:flex;
    justify-content:center;
}

.feature-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    list-style:none;
    width:900px;
}

.feature-section li{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.feature-section img{
    width:100px;
    margin-bottom:1.2rem;
}
/*-------------- end of creamy section ---------- */

/*-------------- footer section---------- */
footer{
    background-color:#1a1a1d;
    padding: 60px;
}
.footerP{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 30px;
}
.packsP{
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap;
    gap: 1em;
    padding: 10px;
}
.packs p{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.packsP img{
    max-width:60px;
}

/*-------------- end of footer section ---------- */

@media(max-width:870px) {
    /* -------- navbar  ------- */
    .nav-bar{
        flex-direction:column;
    }

    .logo{
        margin-bottom: 1rem;
    }

    .nav-item img{
        margin-bottom:.7rem;
        width: 50px;
    }

    /* ------ end navbar  ------ */

    /* ------ package section ------ */
    .pack{
        flex-direction: column;
        text-align:center;
        gap:1rem;
    }

    .pack h1{
        font-size:2.5rem;
    }

    .pack p{
        font-size:1.3rem;
    }

    /* ------ end of package section ------ */
    
    /* ---------- eclosion section --------- */
    .eclosion-feature{
        align-items: center;
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }
    /*----------- end of eclosion ---------- */

    /*----------- creamy ---------- */
    .feature-section{
        gap:3rem;
    }
    /*----------- end creamy ---------- */
    
    /*-----------  footer ---------- */
    .packs p{
        text-align: center;
    }

    /*----------- end footer ---------- */

}

@media(max-width:450px){
    /* ------ nav bar section start ------ */
    .nav-bar{
        flex-direction:row;
    }

    .nav-container{
        display:none;
    }

    .logo{
        margin-bottom:0px;
    }

    .logo img{
        width:150px;
    }

    .menu-bar{
        display:block;
        background-color:transparent;
        border:none;
    }
    /* ------ nav bar end ------ */

    .eclosion h2{
        font-size: 2.3rem;
    }
}